<div id="forumExplorer" ng-controller="ForumController">
   <div ng-if="forumList.length === 0" class="container forum-stretch">
      <div style="display: table; margin: 0 auto;">
         <em>No Forums Available</em>
      </div>
   </div>
   <div ng-if="forumList.length > 0" class="container forum-stretch">

      <!-- Forum Selector -->
      <div class="toolRow btn-group">
         <div class="btn-group" dropdown style="width: 141px; height: 30px;" title="Current Forum">
            <button type="button" ng-disabled="editMode" class="btn btn-default btn-sm dropdown-toggle"
               style="width: 100%; height: 30px; text-align: left;">
               <span style="font-weight: bold; padding-right:5px;">{{selectedForum.name}}</span>
               <span class="caret" ></span>
            </button>
            <ul class="dropdown-menu" style="margin: 0;" role="menu">
               <li ng-repeat="forum in forumList">
                  <a href="" ng-click="changeForum(forum.id,forum.name)">{{forum.name}}</a>
               </li>
            </ul>
         </div>
         <!-- Create Forum -->
         <button type="button" class="btn btn-default btn-sm" ng-disabled="editMode || userMode" ng-click="createForum()"
            title="Create New Forum">
            <span class="fa fa-group"></span>
         </button>
         <!-- Path Jump -->
         <div class="btn-group" dropdown style="float: right;" title="Jump to Folder">
            <button type="button" ng-disabled="editMode || userMode" class="btn btn-default btn-sm dropdown-toggle">
               <span class="glyphicon glyphicon-folder-open"></span>
               &nbsp;
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" style="margin: 0;" role="menu">
               <li ng-repeat="path in pathStack">
                  <a href="" ng-click="changeNode(path.id,path.name)">{{path.name}}</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="toolRow btn-group">
         <!-- User Mode -->
         <button type="button" class="btn btn-default btn-sm" ng-disabled="editMode" ng-click="toggleUserMode()"
            title="Forum Users">
            <span ng-style="{color: userMode ? '#008ecc' : ''}" class="glyphicon glyphicon-user"></span>
         </button>
         <!-- [START] Elements To Displayed In User Mode -->
         <button ng-if="userMode" type="button" class="btn btn-default btn-sm" ng-click="toggleInviteMode()"
            title="Invite users to {{selectedForum.name}}">
            <span ng-style="{color: inviteMode ? '#008ecc' : ''}" class="glyphicon glyphicon-share"></span>
            <span ng-style="{color: inviteMode ? '#008ecc' : ''}">Invite</span>
         </button>
         <!-- [END] Elements To Displayed In User Mode -->
         <!-- [START] Elements To Displayed In File Mode !userMode -->
         <!-- New Folder -->
         <button ng-if="!userMode" type="button" ng-disabled="editMode" class="btn btn-default btn-sm"
            ng-click="addFolder()" title="New Folder">
            <span class="glyphicon glyphicon-plus"></span>
         </button>
         <!-- Edit Mode -->
         <button ng-if="!userMode" type="button" class="btn btn-default btn-sm" ng-click="toggleEditMode()"
            title="Edit List">
            <span ng-show="editMode" style="color: #008ecc;" class="glyphicon glyphicon-edit"></span>
            <span ng-show="!editMode" class="glyphicon glyphicon-edit"></span>
         </button>
         <!-- Upload: This needs to be a span not a button for hidden file input control -->
         <span ng-if="!userMode" class="btn btn-default btn-sm btn-group" ng-disabled="editMode" title="Upload File">
            <span class="glyphicon glyphicon-upload"></span>
            <input name="fileInput" class="hidden-file-input" ng-file-select="onFileSelect($files)" type="file" multiple>
         </span>
         <!-- Back -->
         <button ng-if="!userMode" type="button" ng-disabled="editMode" style="float: right;"
            class="btn btn-default btn-sm" ng-click="parentFolder()" title="Browse to parent folder">
            <span class="glyphicon glyphicon-chevron-left"></span>
         </button>
         <!-- [END] Elements To Displayed In File Mode !userMode -->
      </div>
      <!-- User List -->
      <ul ng-if="userMode" class="nav nav-stacked user-browser">
         <li ng-repeat="user in userList" class="active">
            <!-- User contains all fields from forum_user, user_account, and forumName -->
            <a href="" ng-click="">
               <span style="float: left; font-weight: 500;">{{user.firstName + ' ' + user.lastName}}</span>
               <span style="float: right;">{{user.userId}}</span>
               <br>
               <span style="float: left; color: #888;">{{user.email}}</span>
               <span ng-if="!inviteMode" style="float: right; color: #888; font-style: italic;">{{enrollmentString(user.enrollmentStatus)}}</span>
               <span ng-if="inviteMode" class="glyphicon glyphicon-share" title="Send Invite"
                  ng-click="inviteUser(user)" style="color: Green; float: right;"></span>
            </a>
         </li>
      </ul>
      <div ng-if="!userMode" class="forum-path-container">
         <p ks-forum-path="pathStack" class="forum-path"></p>
      </div>
      <!-- Forum Browser -->
      <ul ng-if="!userMode"
         ng-class="{'nav nav-stacked forum-browser':!editMode, 'nav nav-stacked forum-browser-edit':editMode}"
         ng-show="!isUploading()">
         <li ng-if="!editMode" ng-repeat="node in nodeList" class="active">
            <a ng-if="!isFolder(node)" href="">
               <div title="{{node.name}}">{{node.name}}</div>
               <span class="glyphicon glyphicon-download" title="Download: {{node.name}}" ng-click="downloadNode(node)"
                  style="float: right;"></span>
            </a>
            <a ng-if="isFolder(node)" href="" ng-click="openNode(node)">
               {{node.name}}
               <span class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
            </a>
         </li>
         <li ng-if="editMode" ng-repeat="node in nodeList" class="active">
            <a class="" style="width: 94%" href="" ng-click="renameNode(node)">{{node.name}}</a>
            <a class="" href="" ng-click="deleteNode(node)">
               <span class="glyphicon glyphicon-remove" style="color: FireBrick; float: right;"></span>
            </a>
         </li>
      </ul>
      <ul ng-if="!userMode" class="nav nav-stacked nav-pills" ng-show="isUploading()">
         <li ng-repeat="f in selectedFiles">
            <span>
               {{f.name}}
               <a class="forum-upload-abort" href="" ng-click="abort($index)" ng-show="progress[$index] <= 100">abort</a>
            </span>
            <progressbar class="progress-striped" value="progress[$index]" type="success">{{progress[$index]}}%</progressbar>
         </li>
      </ul>
    </div>
</div>
