.managerBarButton {
	margin-right: 22px;
	margin-top: 2px;
}

#forumManager {
	
}

#forumManager .controlbar {
   float: right;
   margin-right: 6px;
   margin-bottom: 4px;
   font-size: smaller;
   font-weight: normal;
}

#forumManager .controlbar label {
   font-weight: normal;
   display: inline;
}

#forumManager .controlbar input {
	height: 25px;
   width: 120px;
   display: inline;
}

#forumManager .controlbar select {
   height: 26px;
   width: 120px;
   display: inline;
}


#forumManager .card-container {
	margin: 10px 0px -20px 10px;
	width: 240px;
	display: inline-block;
}